{% extends 'base.html.twig' %}

{% block title %}Mon compte - La boutique Française{% endblock %}

{% block content %}
<h1>Mon compte</h1>

Bienvenue {{ (app.user.firstname) }}, c'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.

<hr>
- <a href="{{ path('account_password')}}">Modifier mon mot de passe</a></br>
-ajouter mes adresses</br>
-mes commandes</br>
<hr>

{% endblock %}
