{% extends 'base.html.twig' %}

{% block title %}Nos produits - La boutique Française{% endblock %}

{% block content %}
{# creation de la barre de recherche des catégories #}
<div class="row">
    <div class="col-md-3">
        <h3>Filtrer</h3>
        {{ form(form)}}
    </div>

    <div class="col-md-9">
        <h1>Nos produits </h1>

        {# Affichage de nos produits à l'aide de la boucle for: #}

        <div class="row product-container">
            {% for product in products %}
                <div class="col-md-4">
                    {% include 'product/single_product.html.twig'%}
                </div>    
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
